@import "tailwindcss";

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white; /* Default color */
  opacity: 1;
  display: none;
  overflow: hidden;
}

.color-button {
  @apply w-[100px] h-[100px] rounded-md cursor-pointer m-2 border-2 ring-blue-400 ring-offset-1 focus:outline-none focus-visible:ring-2;
}

.white-overlay {
  background-color: white;
}

.red-overlay {
  background-color: #FF0000;
}

.green-overlay {
  background-color: #00FF00;
}

.yellow-overlay {
  background-color: #ffd100;
}

.blue-overlay {
  background-color: #0000FF;
}