@import "tailwindcss";

* {
  box-sizing: border-box;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 1;
  display: none;
  overflow: hidden;
}

nav {
  display: flex;
  padding: 8px 32px;
  align-items: center;
}

.logo {
  height: 50px;
  width: 50px;
  background-color: #51a2ff;
  border-radius: 50%;
  text-align: center;
}

.logo > i {
  font-size: 35px;
  color: #dfeeff;
  position: relative;
  top: 8px;
  flex: 1;
  display: block;
}

.nav-title {
  font-size: 24px;
  margin-left: 8px;
  @media screen and (max-width: 768px) {
    font-size: 20px;
  }
}

.hero {
  background-color: #e5e7eb;
  padding: 60px 0;
  margin-top: 16px;
}

.hero-title {
  text-align: center;
  font-size: 3.75rem;
  font-weight: 400;
  @media screen and (max-width: 768px) {
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 16px;
  }
}

.hero-subtitle {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  @media screen and (max-width: 768px) {
    margin: 0 32px;
  }
}

.hero > h1 > i {
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.button-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.btn-text {
  margin: 0;
}

.btn-text-gray {
  color: #4b5563;
}

.btn-text-black {
  color: #f3f4f6;
}

.btn-text-green {
  color: #14532d;
}

.btn-text-blue {
  color: #dbeafe;
}
.btn-text-yellow {
  color: #78350f;
}

.rgb-bar {
  width: 150px;
  height: 1rem;
  background-color: #d1d5db;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-bottom: 0.5rem;
}

.bar-red {
  width: 50px;
  height: 100%;
  background-color: #FF0000;
}

.bar-green {
  width: 50px;
  height: 100%;
  background-color: #00FF00;
}

.bar-blue {
  width: 50px;
  height: 100%;
  background-color: #0000FF;
}

section {
  margin-top: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

section > h2 {
  font-size: 1.875rem;
  margin-bottom: 2rem;
  text-align: center;
}


.large-icon {
  font-size: 3rem;
}


.card-container {
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 768px) {
    flex-direction: column;   
  }
}

.card {
  border-radius: 4px;
  flex: 1;
  box-shadow: 0 4px 6px -1px #EEE;
  text-align: center;
  padding: 32px;
  margin: 0 8px;
  @media screen and (max-width: 768px) {
    margin:0px 0px 32px 0px;  
  }
}

.card-title {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mt-8 {
  margin-top: 4rem;
}

.p-div {
  display: flex;
  flex-direction: column;
}

.img {
  height: 300px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.article-title {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 1rem;
}

.article-body {
  padding: 0;
}

.article-copy {
  margin-top: 0.5rem;
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.text-bold {
  font-weight: bold;
}

footer {
  text-align: center;
  margin-top: 4rem;
  padding: 24px 0;
  background-color: #51a2ff;
  color: white;
}


@media (min-width: 768px) {
  .p-div {
      flex-direction: row;
  }
  .img {
    margin-left: 0;
    margin-right: 0;
  }
  .article-title {
    text-align: left;
    margin-top: 0;
  }
  .article-body {
    padding-left: 2rem;
  }
}

.screen-overlay {
  position: relative;
  border: 1px solid #e5e7eb;
  border-radius: 0.375rem;
  padding: 0.375rem;
  text-align: center;
  margin: 0.5rem;
  cursor: pointer;
  background-color: white;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  outline: none;
  transition: opacity 0.2s ease-in-out;
}

.screen-overlay:focus {
  outline: none;
}

.screen-overlay:focus-visible {
  box-shadow: 0 0 0 2px #3b82f6, 0 0 0 3px white;
}

.screen-overlay:hover {
  opacity: 0.6;
}

.screen-overlay::after {
  content: "";
  position: absolute;
  height: 0.25rem;
  width: 0.25rem;
  background-color: #fecaca;
  bottom: 0.125rem;
  right: 0.5rem;
  display: block;
}

.color-button {
  width: 100px;
  height: 60px;
  border-radius: 0.375rem;
  border: 2px solid #f3f4f6;
  cursor: pointer;
  background-color: white;
}

.white-overlay {
  background-color: #FAFAFA;
}

.black-overlay {
  background-color: #000;
}

.red-overlay {
  background-color: #FF0000;
}

.green-overlay {
  background-color: #00FF00;
}

.yellow-overlay {
  background-color: #ffd100;
}

.blue-overlay {
  background-color: #0000FF;
}